body {
	background-image: url(../Images/Background.jpg);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
	border-color: #dddddd;
	background-repeat: no-repeat;
	background-size: cover; 
}

.jumbotron {
	background-image: url(../Images/harry-potter-wallpapers-29604-4900200.png);
	padding-top: 95px;
	padding-bottom: 170px;
	border-radius: 6.3;
	background-size: cover;
}